spring:
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
